.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hot{
  color: gold;
  text-align: center;
}

.hot:hover {
  color: blue;
}
.lg{
  padding: 3vw;
  margin: 1vw;
  color: blueviolet;
  background: #3a64b38a;
}
.lg2{
  padding: 3vw;
  margin: 1vw;
  color: rgb(43, 70, 226);
  background: #ca2bb08a;
}

.Hook{
  padding: 4vw;
  font-size: 3vw;
}

.Hook a{
  text-decoration: none;
  color: aqua;
}

a:hover{
  color: green;
}